Function(Helper): There are two important expect of function
1. defining the function(logic) and
2. calling the function
Function are of two types:
- Built in function (related to family, brothers/sisters/cousin): are already available in python(by defualt)
- User define function (related to friends): we will going to create/personally create.

Take two numbers and add them together

In [ ]:
a=6
b=79
c=a+b
print(c)

85

Create a function which takes two numbers and sum them together.

In [ ]:
def sum(a,b): #def is the keyword/ sum is the name of the function/ (a,b) are refer to as parameters
  sum=a+b  # only this is logical part
  print(sum)
# this is defining the function

In [ ]:
sum(10,20)  #(10,20) is an arguments / Parameters is the name of the variables when you associate the values to this parameters that is known as arguments.

30

In [ ]:
sum(46,50) # this calling the function

96

Create a function which takes two numbers and display the addition/substraction/multiplication and division of these two numbers.

One single function can perform multiples task/ operation

In [ ]:
def compute(a,b):
  sum=a+b
  subs=a-b
  mult=a*b
  div=a/b
  print(sum,subs,mult,div)

In [ ]:
compute(9,9)

18 0 81 1.0

In [ ]:
compute(100,45)

145 55 4500 2.2222222222222223

Create  a function which display the name, age and city of the candidates

In [ ]:
def Employee(Name, Age, City):

   print(Name,Age,City)

In [ ]:
Employee('Adaziia',23,'Guwahati')

Adaziia 23 Guwahati

In [ ]:
Employee('Rebecca',22,'Arunachal')

Rebecca 22 Arunachal